.navbar-middle {
    display: flex;
    justify-content: space-between;
    height: 97px;
    list-style-type: none;
    align-items: center;
}


.navbar-btn {
    width: 168px;
    height: 42px;
    background: #3665F3;
    color: white;
    border: 2px solid #3665F3 ;
}