.footer-first-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    opacity: 60%;
    margin-bottom: 31px;

}

.footer {
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
    margin-top: 244px;
    padding-top: 54px;
    padding-bottom: 69px;
    text-align: center;
    line-height: 21px;
    color: #333
}


.footer-second-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    opacity: 60%;
}

.span {
    color: black;
}